{% extends 'blog/base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{message}}
</div>
{% endfor %}
{% endif%}

{% for post in posts %}
<div class="border p-3 mb-3" style="border-radius: 9%;background-color:#ffffff ;"> 
    <img class="img-fluid rounded-circle border m-2" style="width: 70px; height:70px;"
        src="" alt=" ">
    <span class="text-secondary">  {{post.post_date|date:'d-m-Y'}}</span>
    <h3><a class="text-dark" href="{% url 'detail' post.id %}">{{post.title}}</a></h3>
    <p>{{post.content}}</p>
</div>
{% empty %}
<div class="border p-3 mb-3">
    <h3> <a href=""></a>  </h3>
         
</div>
{% endfor %}



{% endblock content %}